@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&family=Red+Hat+Display:wght@400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/* 이 위로 공용 파트 */


.mainLogo-normal-visible{
  position:fixed;
  top:40px;
  left:40px;
  z-index: 999;
}
.mainLogo-normal-unvisible{
  display:none;
}
.mainLogo-overlay-visible{
  position:fixed;
  top:40px;
  left:40px;
  z-index: 999;
}
.mainLogo-overlay-unvisible{
  display:none;
}


.FixedComponent  .menu-container{
  position:fixed;
  top:40px;
  right:40px;
  z-index: 999;
  background-color: #fff;
  border-style: none;
  width: 40px;
  height: 40px;
  border-radius:50%;
  box-shadow: 0 0 6px 0 rgb(0 0 0 / 16%);
  text-align: center;
}
.FixedComponent  .menu-container .menu-subcontainer .menuIconHover{
  display:none;
}
.FixedComponent  .menu-container:hover .menu-subcontainer .menuIconHover{
  display:inline-block;
}
.FixedComponent  .menu-container:hover .menu-subcontainer .menuIcon{
  display:none;
}
.FixedComponent  .menu-container:hover{
  background-color: #005DCC;
}
.FixedComponent * .menu-subcontainer{
  position:relative;
}
.FixedComponent  .menuIcon{
  max-width: 110%;
  margin-top: 3.5px;
}
.FixedComponent * .menuIconHover{
  max-width: 110%;
  margin-top: 3.5px;
}
.channeltalk-container{
  position: fixed;
  bottom:25px;
  right:25px;
  width:60px;
  height:60px;
  box-shadow: 0 0 6px 0 rgb(0 0 0 / 16%);
  z-index: 999;
  background-color: #fff;
  border-radius: 44%;
  text-align: center;
}
.channeltalk-subcontainer{
  position: relative;
}
.channeltalk{
  position: absolute;
  top:6px;
  z-index: 1001 ;
}
.channeltalk-body{
  margin-top:7px;
  color: rgb(24, 67, 93);
}

.another-page-visible{
  background-color: rgba(0 , 0, 0, 0.95);
  z-index: 500 ;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}
.another-page-unvisible{
  display: none;
}

.another-page-visible .content-container{
  text-align:center;
  height: 100%;
  font-family: "Red Hat Display", sans-serif;
  color: #fff;
  padding-top: 180px;
  width: 50%;
  margin: 0 auto;
}

.another-page-visible p {
  margin: 0;
}
.another-page-visible * .text-list{
  list-style:none ;
  color: #fff;
}
.another-page-visible * .text-list li{
  margin-bottom:20px;
}
.another-page-visible  * .text-list li:last-child{
  margin-bottom:0;
}
.another-page-visible * .text-box{
  text-decoration: none;
  color: #fff;
  font-size: 66px;
  font-weight: 900;
}
.another-page-visible * .text-box:hover  .another-text {
 display:none;
}
.another-page-visible * .text-box .hover-text {
  font-size: 58px;
  font-weight: 900;
  display:none;
 }
.another-page-visible * .text-box:hover .hover-text {
  display:initial;
 }

.another-page-visible * .icon-container{
  display: inline-block;
  list-style: none;
  width: 70%;

  text-align: center;
  margin: 0 auto;
  margin-top: -10px;
}

.another-page-visible * .icon-box{
  font-size: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  display: inline-block;
  text-align: center;
  margin-left:20px;  
}
.another-page-visible * .icon-box:first-child{
  margin-left:0;  
}


.another-page-visible .close-container{
  position:fixed;
  top:40px;
  right:40px;
  z-index: 999;
  background-color: #fff;
  border-style: none;
  width: 40px;
  height: 40px;
  border-radius:50%;
  box-shadow: 0 0 6px 0 rgb(0 0 0 / 16%);
  text-align: center;
}
.FixedComponent .menu-container .menu-subcontainer .closeIconHover{
  display:none;
}
.FixedComponent .menu-container:hover .menu-subcontainer .closeIconHover{
  display:initial;
}
.FixedComponent .menu-container:hover .menu-subcontainer .closeIcon{
  display:none;
}
.FixedComponent * .closeIcon{
  max-width: 110%;
  margin-top: 3.5px;
}
.FixedComponent * .closeIconHover{
  max-width: 110%;
  margin-top: 3.5px;
}



.another-page-visible * .icon{
  max-width: 70%;
  margin-top: 5px;
}
.another-page-visible * .icon-anothertype{
  max-width: 65%;
  margin-top: 8px;
}

.another-page-visible * .icon-hover{
  display:none;
  max-width: 70%;
  margin-top: 5px;
}
.another-page-visible * .icon-anothertype-hover{
  display:none;
  max-width: 65%;
  margin-top: 8px;
}
.another-page-visible * .icon-box:hover{
  background-color: #005DCC;
}
.another-page-visible * .icon-box:hover .icon{
  display:none;
}
.another-page-visible * .icon-box:hover .icon-anothertype{
  display:none;
}
.another-page-visible * .icon-box:hover .icon-hover{
  display:initial;
}
.another-page-visible * .icon-box:hover .icon-anothertype-hover{
  display:initial;
}

@media(max-width:1183px) {
  .mainLogo-normal-visible{
    position:absolute;
  }
  .another-page-visible .content-container{
    width: 80%;
  }
}

@media(max-width:767px) {
  .another-page-visible * .text-box:hover .another-text {
    display:block;
  }
  .another-page-visible * .text-box  .hover-text {
    display:BLOCK;
    font-size: 14px;
  } 
  .another-page-visible * .text-box:hover  .hover-text {
    display:BLOCK;
    font-size: 14px;
  } 
  .text-box .another-text{
    font-size: 28px;
    display:block;
  }
  .another-page-visible * .icon-container{
    margin-top: 0;
  }
  .another-page-visible * .icon-box .icon-anothertype-hover{
    display:block;
  }
  .another-page-visible * .icon-box .icon-anothertype-hover{
    display:none;
  }
  .mainLogo-normal-visible{
    top: 29px;
    left: -5px;
  }
  .test-value{
    max-height: 27px; 
  }
  .FixedComponent .menu-container{
    width: 32px;
    height: 32px;
    top: 24px;
    right: 15px;
  }
  .FixedComponent * .menuIcon{
    max-width: 15px;
    margin-top: 3.5px;
  }
  .FixedComponent * .menuIconHover{
    max-width: 15px;
    margin-top: 3.5px;
  }
  .text-list li{
    height:70px;
  }
  .another-page-visible .content-container{
    padding-top: 270px;
  }
  .another-page-visible * .text-list li{
    margin-bottom:5px;
  }
  .mainLogo-overlay-visible{
    top:30px;
    left:0px;
  }
}