@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&family=Red+Hat+Display:wght@400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/* 이 위로 공용 파트 */

.secondElement{
  padding-top:70px;
  width: 100%;
  background-color: #FFFFFF;
}
.slogan{
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 500;
}
.secondCon{
  padding-top:15px;
  padding-bottom:15px;
}
.secondCon{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 18px;
}
.boldText{
  font-weight:bold;
}
.secondCon .firstP{
  margin-bottom: 15px;
}
.secondCon .secondP{
  margin-bottom: 70px;
}
.secondElement * .slogan{
  font-size: 42px;
  margin-bottom: 20px;
}

.sloganContainer{
  border-top: 1px solid #dedede;
  padding-top:45px;
  padding-bottom:45px;
  display: flex;
}

.sloganContainer .slogan-title{
  font-size : 32px;
  flex-grow: 0;
  flex-basis: 25%;
  max-width: 25%;
  font-weight: 900; 
  font-family: 'Red Hat Display', sans-serif;
  color: #626262;
}

.sloganContainer .sloganMission{
  max-width: 25%;
  flex-basis: 25%;
  font-family: 'Noto Sans KR', sans-serif;
}

.sloganContainer .sloganVision{
  max-width: 75%;
  font-family: 'Noto Sans KR', sans-serif;
}
.media-query-div-display{
  display:none;
}

@media(max-width:767px) {
  .secondElement{
    padding-top:40px;
  }
  .secondElement * .slogan{
    font-size: 26px;
  }
  .media-query-div-display{
    display:block;
  }
  .secondCon p{
    font-size: 14px;
  }
  .secondCon .secondP{
    margin-bottom: 35px;
  }
  .media-query-div-hidden{
    display:none;
  }
  .sloganContainer .slogan-title{
    font-size : 24px;
  }
  .sloganContainer{
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .sloganContainer .sloganVision{
    display:block;
    font-size: 14px;
    max-width: 100%;
  }
  .sloganContainer{
    display: block;
  }
  .sloganContainer .sloganMission{
    max-width:50%;
    margin-top: 10px;
    margin-bottom:10px;
    font-size: 14px;
  }
}